/*=======================The Following CSS is Dedicated to the Body ========================*/
/*Covers the font, border, padding, margin, background, page width and height*/
body{
  	float: left;
  	color: black;
  	font: 1em Georgia, Verdana, ariel;
  	border: .25em solid #f00;
 	padding: 10px;
	margin: 10px;
	background: url('../images/black.jpg') repeat 20%;
	width: 95%;
}

p{
	margin: 10px;
	padding: 4px;
}

h2{
	font: 1.5em Helvetica Neue;
	margin: 10px;
	padding: 4px;

}

#browser_update{
	background-color: #f00;
}

#browser_update a{
	text-decoration: none;
	background: #f00;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #110588;
	color: #fff;

}
/*=======================The Following CSS is Dedicated to the page Header========================*/
/*-------Note, the Header also acts as an Escape Hatch that takes you back to the main page-------*/
/*========= So that their is no major difference in design, the Header should always display the same
at every state. I made the The link should never look different than the original design==========*/
h1{
	font: 3em Georgia, Verdana, ariel;
	background: url('../images/white.jpg') repeat center 20%;
  	color: #110588;
  	width: 95%;
  	margin: 1em;
}

h1 a{
	text-decoration: none;
	background: url('../images/white.jpg') repeat 20%;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #110588;
}

h1 a:visited{
	color: url('../images/white.jpg') repeat 20%;
}

h1 a:hover{
	color: #110588;
	background: url('../images/white.jpg') repeat 20%;
}

h1 a:active{
	color: #110588;
	background: url('../images/white.jpg') repeat 20%;
}

/*=======================The Following CSS is Dedicated to the Page Banner======================*/

#main_photo_container{
	width: 95%;
}

#main_photo_container img{
	max-width: 100%;
   	margin: 2em; 	  
}

/*====================The Following CSS is Dedicated to the page Main Navigation==================*/
header nav ul li{
	width: 15.25%;
	background: url('../images/navbg.jpg') repeat 20%;
	float: left;
	padding: .5em /*4px/16px */;
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	background: url('../images/footerbg.jpg') repeat 20%;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #f00;
}

header nav ul li a:visited{
	color: #f00;
}

header nav ul li a:hover{
	color: #fff;
	background: url('../images/navbg.jpg') repeat 20%;
}

header nav ul li a:active{
	color: #f00;
	background: url('../images/footerbg.jpg') repeat 20%;
}

.current_page a{
	color: #fff;
}

/*========== This part of the CSS is dedicated to the Kids Zone Page ===================*/
#kid_html{
	background: #fff;
}
/*==== LINKS ====*/
.color1 a, .color1 a:visited{
	color: #fff;
	background: green;
} 

.color2 a, .color2 a:visited{
	color: #fff;
	background: #f60;
} 

.color3 a, .color3 a:visited{
	color: #fff;
	background: #900;
} 

.color4 a, .color4 a:visited{
	color: #fff;
	background: #309;
}

.color5 a, .color5 a:visited{
	color: #fff;
	background: #c0f;
} 

.color6 a, .color6 a:visited{
	color: #fff;
	background: #f39;
}

.color1 a:hover{
	color: #fff;
	background: #3c0;
} 

.color2 a:hover{
	color: #fff;
	background: #f90;
} 

.color3 a:hover{
	color: #fff;
	background: #c00;
} 

.color4 a:hover{
	color: #fff;
	background: #369;
}

.color5 a:hover{
	color: #fff;
	background: #c6f;
} 

.color6 a:hover{
	color: #fff;
	background: #f69;
}

.color1 a:active{
	color: #fff;
	
} 

.color2 a:active{
	color: #fff;
	
} 

.color3 a:active{
	color: #fff;
	
} 

.color4 a:active{
	color: #fff;
	
}

.color5 a:active{
	color: #fff;
	
} 

.color6 a:active{
	color: #fff;
	
}


/*====================The Following CSS is Dedicated to the Page Content==================*/

.row1, .row2, .row3 {
	background: #fff;
	float: left;
	margin: 10px;
	height: 200px;
}

.row1{
	width: 40%;
	outline: 3em;
}
.row2{
	width: 35%;
	outline: 3em;
}
.row3{
	width: 20%;
}

#row1, #row2, #row3{
	height: 275px;
}

/*====================The Following CSS is Dedicated to the page Footer==================*/

.footerbgcontainer{
	background: url('../images/footerbg.jpg') repeat 20%;
	color: white;
	width: 97%;
	padding: .5em;
  	margin: .5em;
	height: 200px;
	float: right;
  	border: .25em solid #f00;
}

.title{
	float: left;
}

/*============================= THIS CSS IS USED FOR THE FORM PAGE ONLY =========================*/
/*===============================================================================================*/

/*.contactform_left, .contactform_right, .pageside_right table*/{
	background: #fff;
	width: 98%;
}

.contact_form{
	width: 95%;
	background: white; 
}

.pageside_left ul li{
	list-style-type: none;
	padding: .5em;
}

form{
	background: -webkit-gradient (linear, bottom, left 300px, from(#CCC), to(#EEE));
	background: -moz-linear-gradient(bottom, #CCC, #EEE 300px);
	margin: auto;
	position: relative;
	width: 300px;
	height: 950px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .875em;
	font-style: italic;
	line-height: auto;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	-webkit-border-radius: .625em;
	-moz-border-radius: .625em;
	border-radius: .625em;
	-webkit-padding:  1em 1em 1em 1em;
	-moz-padding:  1em 1em 1em 1em;
	padding:  1em 1em 1em 1em;
	-webkit-border: inset .0625em solid #000;
	-moz-border: inset .0625em solid #000;
	border: inset .0625em solid #000;
	-webkit-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
	box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
	}

/*table{
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}*/

select, textarea, input{
	width: 200px
	height: 300px;
	background: #ccc;
	padding:  .5em 10em .5em 5em;
  	margin: .5em 10em .5em 5em;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	float: right;
}

.link{
	padding: .5em 1em .5em 1em;
  	margin: .5em 1em .5em 1em;
}

.checkbox_right{
	float: left;
}

.newsletter, .submit{
	float: left
}

/*-----------------------------THIS CONCLUDES THE FORM PAGE CSS ----------------------------------*/

/*====== THIS CSS IS FOR THE GENERIC PAGES. IT IS FOR THE REST OF THE PAGES ON THE WEBSITE ======*/
/*===============================================================================================*/
.teachers, .parents_page, .kids_page, .finditquick, .contactform_left, .contactform_right, .links{
	background: url('../images/body.png') repeat 20%;
	width: 98%;
}

/*.teachers{
	height: 100px;
}*/

/*--------Code for the Generic Links-------------------------------------------------------------*/
.links ul li{
	width: 30%;
	background: #fff;
	float: left;
	padding: .5em /*4px/16px */;
	list-style-type: none;
	}

.links{
	border: #f00;
}

section ul li a{
	text-decoration: none;
	background: #30c;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #fff;
}

section ul li a:visited{
	color: #fff;
}

section ul li a:hover{
	color: #fff;
	background: #00f;
}

section ul li a:active{
	color: #fff;
	background: 00f;
}

/*------------------------------- THIS CONCLUDES THE GENERIC PAGES CSS --------------------------*/


/*================THIS CSS IS USED FOR THE TABLE (this is located in the footer)  ================*/  	
td{
  	padding: .5%;
  	margin: .15%;
}

table{
  	text-decoration: underline;
  	border-collapse: collapse;
  	float: right;
  	padding: .5em;
  	margin: 1em;
	width: 80%;
  }
  
.footer_nav{
  	/*float: left;*/
  	clear: both;
}

footer section{
  	margin: 2%;
}

footer table{
	background: none;
}

.title{
	width: 20%;
}

.checkbox{
	clear: both;
}


/*-----------------------------------------MEDIA QUERIES------------------------------------------*/
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 1300PX - 1400PX OR LESS ===============*/
@media screen and (max-width: 1400px) {
header nav ul li{
	width: 15%;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 980PX OR LESS =========================*/
@media screen and (max-width: 1280px) {
body{
  	font-size: .9em;
}

header nav ul li{
	width: 13%;
}

.row1{
	width: 35%;
}
.row2{
	width: 33%;
}
.row3{
	width: 25%;
}

.row1, .row2, .row3 {
	height: 250px;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 980PX OR LESS =========================*/
@media screen and (max-width: 980px) {

header nav ul li{
	width: 13%;
	}

h1{
	font-size: 2.5em;
	}

#row1, #row2, #row3{
	height: 300px;
	}
}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 920PX OR LESS =========================*/
@media screen and (max-width: 920px) {

.row1{
	width: 33%;
	}
.row2{
	width: 29%;
	}
.row3{
	width: 25%;
	}
#row1, #row2, #row3{
	height: 375px;
	}
.row1, .row2, .row3 {
	height: 300px;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 750PX OR LESS =========================*/
@media screen and (max-width: 750px) {
body{
  	font-size: 1em;
}

header nav ul li, a{
	width: 95%;
	}

h1{
	font-size: 1.75em;
	}
.row1{
	width: 95%;
	}
.row2{
	width: 95%;
	}
.row3{
	width: 95%;
	}
footer{
	display:none;
    }
#row1, #row2, #row3{
	height: 225px;
	}
.row1, .row2, .row3 {
	height: 200px;
	}
select, textarea, input{
	width: 500px
	padding:  0;
  	margin: 0;
	}

.link{
	padding: .5em 1em .5em 1em;
  	margin: .5em 1em .5em 1em;
  	font-size: 12px;
	}

form{
	height: 950px;
}
select, textarea, input{
	width: 100px
	height: 200px;
}



}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 590PX OR LESS =========================*/
@media screen and (max-width: 590px) {

h1{
	font-size: 1.25em;
	}

#main_photo_container{
	display: none;
	}

.row1{
	width: 95%;
	}
	
.row2{
	width: 95%;
	}
	
.row3{
	width: 95%;
	}

.link, ul li a{
	font-size:9;
	}

.links ul li{
	width: 95%;
	}

}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 480PX OR LESS =========================*/
@media screen and (max-width: 480px) {

h1{
	font-size: 1em;
	}

header nav ul li{
	width: 100%;
	}
	
#row1, #row2, #row3, .row1, .row2, .row{
	height: auto;
	}
}