/*=======================The Following CSS is Dedicated to the Body ========================*/
body{
  	float: left;
  	color: black;
  	font: 1em Georgia, Verdana, ariel;
  	border: .25em solid #fff;
 	padding: 10px;
	margin: 10px;
	background: url('../images/black.jpg') repeat 20%;
	width: 95%;
}

p{
	margin: 10px;
	padding: 4px;
}

h2{
	font: 1.5em Helvetica Neue;
	margin: 10px;
	padding: 4px;

}

/*=======================The Following CSS is Dedicated to the page Header========================*/
/*-------Note, the Header also acts as an Escape Hatch that takes you back to the main page-------*/
/*========= So that their is no major difference in design, the Header should always display the same
at every state. I made the The link should never look different than the original design==========*/
h1{
	font: 3em Georgia, Verdana, ariel;
	background: url('../images/white.jpg') repeat center 20%/9;
  	color: #110588;
  	width: 95%;
  	margin: 1em;
}

h1 a{
	text-decoration: none;
	background: url('../images/white.jpg') repeat 20%/9;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #110588;
}

h1 a:visited{
	color: url('../images/white.jpg') repeat 20%/9;
}

h1 a:hover{
	color: #110588;
	background: url('../images/white.jpg') repeat 20%/9;
}

h1 a:active{
	color: #110588;
	background: url('../images/white.jpg') repeat 20%/9;
}

/*=======================The Following CSS is Dedicated to the Page Banner======================*/

#main_photo_container{
	width: 95%;
}

#main_photo_container img{
	max-width: 100%;
   	margin: 2em; 	  
}

/*====================The Following CSS is Dedicated to the page Main Navigation==================*/
header nav ul li{
	width: 15.25%;
	background: url('../images/navbg.jpg') repeat 20%/9;
	float: left;
	padding: .5em /*4px/16px */;
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	background: url('../images/footerbg.jpg') repeat 20%/9;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #f00;
}

header nav ul li a:visited{
	color: #f00;
}

header nav ul li a:hover{
	color: #fff;
	background: url('../images/navbg.jpg') repeat 20%/9;
}

header nav ul li a:active{
	color: #f00;
	background: url('../images/footerbg.jpg') repeat 20%/9;
}

/*====================The Following CSS is Dedicated to the Page Content==================*/

.row1, .row2, .row3 {
	background: #fff/9;
	float: left;
	margin: 10px;
	height: 200px;
}

.row1{
	width: 40%;
	outline: 3em;
}
.row2{
	width: 35%;
	outline: 3em;
}
.row3{
	width: 20%;
}

#row1, #row2, #row3{
	height: 275px;
}

/*====================The Following CSS is Dedicated to the page Footer==================*/

.footerbgcontainer{
	background: url('../images/footerbg.jpg') repeat 20%/9;
	color: white;
	width: 97%;
	padding: .5em;
  	margin: .5em;
	height: 200px;
	float: right;
  	border: .25em solid #f00;
}

.title{
	float: left;
}

/*============================= THIS CSS IS USED FOR THE FORM PAGE ONLY =========================*/
/*===============================================================================================*/

.contactform, .pageside_right table{
background: #fff/9;
width: 98%;
}

.contact_form{
width: 98%;
}


/*-----------------------------THIS CONCLUDES THE FORM PAGE CSS ----------------------------------*/


/*====== THIS CSS IS FOR THE GENERIC PAGES. IT IS FOR THE REST OF THE PAGES ON THE WEBSITE ======*/
/*===============================================================================================*/
.teachers, .parents_page, .kids_page, .finditquick, .contactform_left, .contactform_right, .links{
background: #fff/9;
width: 98%;
}

/*.teachers{
height: 100px;
}*/

/*--------Code for the Generic Links-------------------------------------------------------------*/
.links ul li{
	width: 30%;
	background: #fff/9;
	float: left;
	padding: .5em /*4px/16px */;
	list-style-type: none;
	}

section ul li a{
	text-decoration: none;
	background: #000/9;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #f00;
}

section ul li a:visited{
	color: #f00;
}

section ul li a:hover{
	color: #fff;
	background: url('../images/navbg.jpg') repeat 20%/9;
}

section ul li a:active{
	color: #f00;
	background: url('../images/footerbg.jpg') repeat 20%/9;
}


/*------------------------------- THIS CONCLUDES THE GENERIC PAGES CSS --------------------------*/


/*================THIS CSS IS USED FOR THE TABLE (this is located in the footer)  ================*/  	
td{
  	padding: .5%;
  	margin: .15%;
}

table{
  	text-decoration: underline;
  	border-collapse: collapse;
  	float: right;
  	padding: .5em;
  	margin: 1em;
	width: 100%;
  }
  
.footer_nav{
  	float: left;
}

footer section{
  	margin: 2%;
}

footer table{
	background: none;
}

/*-----------------------------------------MEDIA QUERIES------------------------------------------*/
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 1300PX - 1400PX OR LESS ===============*/
@media screen and (max-width: 1400px) {
header nav ul li{
	width: 15%;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 980PX OR LESS =========================*/
@media screen and (max-width: 1280px) {
body{
  	font-size: .9em;
}

header nav ul li{
	width: 13%;
}

.row1{
	width: 35%;
}
.row2{
	width: 33%;
}
.row3{
	width: 25%;
}

.row1, .row2, .row3 {
	height: 250px;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 980PX OR LESS =========================*/
@media screen and (max-width: 980px) {

header nav ul li{
	width: 13%;
	}

h1{
	font-size: 2.5em;
	}

#row1, #row2, #row3{
	height: 300px;
	}
}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 920PX OR LESS =========================*/
@media screen and (max-width: 920px) {

.row1{
	width: 33%;
	}
.row2{
	width: 29%;
	}
.row3{
	width: 25%;
	}
#row1, #row2, #row3{
	height: 375px;
	}
.row1, .row2, .row3 {
	height: 300px;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 750PX OR LESS =========================*/
@media screen and (max-width: 750px) {
body{
  	font-size: 1em;
}

header nav ul li{
	width: 95%;
	}

h1{
	font-size: 1.75em;
	}
.row1{
	width: 95%;
	}
.row2{
	width: 95%;
	}
.row3{
	width: 95%;
	}
footer{
	display:none;
    }
#row1, #row2, #row3{
	height: 225px;
	}
.row1, .row2, .row3 {
	height: 200px;
	}
}
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 590PX OR LESS =========================*/
@media screen and (max-width: 590px) {

h1{
	font-size: 1.25em;
	}

#main_photo_container{
	display: none;
	}

.row1{
	width: 95%;
	}
.row2{
	width: 95%;
	}
.row3{
	width: 95%;
	}
}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 480PX OR LESS =========================*/
@media screen and (max-width: 480px) {

h1{
	font-size: 1em;
	}

header nav ul li{
	width: 100%;
	}
#row1, #row2, #row3, .row1, .row2, .row{
	height: auto;
	}
}